set -g mouse on
set -g default-terminal "xterm-256color"
# (<ctrl> + <B>) + <s> + <pane number> to swap the current pane with a target pane
bind-key s command-prompt -p "Swap with pane:" "swap-pane -t %%"
# press q to stop displaying pane number
bind-key Q display-panes \; display-message "Press Q again to clear pane numbers" \; refresh-client
set-option -g display-panes-time 100000
